# Some gitignore options copied from
#
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore

# General

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r

Icon

# Thumbnails

._*

# Files that might appear in the root of a volume

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Binaries

*.app
*.out

# Bash scripts

*.sh

# Developer utilities

empty.cpp

# Ignore neural network snapshots.

*.neu

# Ignore the MNIST dataset.

digits/mnist_png/*