*.app
*.out
*.DS_Store
*.sh

empty.cpp

# Ignore neural network snapshots.

*.neu

# Ignore the MNIST dataset.

digits/mnist_png/*

# Don't ignore the common build and release scripts.

# !build_any.sh
# !release_mac.sh

# !rebuild.sh